
* {
    box-sizing: border-box;
}

.selector > * {
   /* selector의 모든 자식 요소 선택 */
    width: 120px;
    height: 90px;
  }

/* 가상 클래스 */
    /* selector:active; 클릭했을 때 스타일 */ 
    /* selector:hober; 마우스 올렸을 때 스타일*/
    /* selector:focus; 포커스가 갔을 때 스타일 */
    /* selector:visited; 이미 방문했던 링크에 적용할 스타일 */